{
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": "css"
      },
    ],
  ],
  "presets": [
    "@babel/env",
    "@babel/typescript",
    "@babel/react"
  ],
}